CompileFlags:
  Add:
    - -DCOMPILER_EXPLORER # Define the COMIPLER_EXPORER for the LSP
    - -std=c99 # Language standard
    - -Wall # Usefull warnings
    - -Wextra # More usefull warnings
    - -fsanitize=address # Runtime memory error detector makes programm slower
    - -fno-omit-frame-pointer # Compiler instruction for better readable stacktraces with address sanitizer
